{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">

        <div class="position-relative h-100">
            <div class="slides-1 portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">

                    <div class="swiper-slide">
                        <img src="{{prod_detail.image1.url}}" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="{{prod_detail.image2.url}}" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="{{prod_detail.image3.url}}" alt="">
                    </div>


                </div>
                <div class="swiper-pagination">
                    
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

            <div class="col-lg-8">
                <div class="portfolio-description">
                    <h2>{{prod_detail.title}}</h2>
                    <p>
                        {{prod_detail.description}}
                    </p>


                </div>
            </div>

            <div class="col-lg-3">
                <div class="portfolio-info">
                    <h3>Item Link</h3>
                    <ul>

                        <li><img src="{{prod_detail.cardImage.url}}" alt=""></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->
{% endblock content %}